/**
 * Autor: Valentin Andrei Culea
 * Fecha: 07/12/2023
 * Versión 1
 */
.login-container{
    width: 100%;
    max-width: 450px;
    min-width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px #B9DDF1;
    background-color: #D2E9F3;
}